.al-logo img {
  max-height: 40px;
}

.navbarZ, #dapagetitleZ, .containerZ {
  background-color: #ccc
}

.al-logo {
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  padding: 3px;
}

.al-title {
  font-family: "Poppins",times,"Times New Roman",serif;
}

body {
  background-color: #fefefe;
  color: black;
  font-family: "Work Sans", "Helvetica", "Arial", sans-serif;
  font-size:1.125rem;
  line-height: 1.8;
}

.da-review > * > p:first-of-type {
  background-color: #ddd
}

.bg-dark.navbar {
  background-color: #005A7C !important;
}
